<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>
<body>
 
    <div class="alert alert-primary" role="alert">
       Informal Dress Code -RS.15
      </div>
      <div class="alert alert-secondary" role="alert">
        Late Submission of Assignment-RS.10
      </div>
      <div class="alert alert-success" role="alert">
       Late comers- RS.50
      </div>
      <footer style="background-color: #333; color: white; padding: 20px 0;">
        <div class="container" style="text-align: center;">
  <div class="container" style="text-align: center;">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
    <p style="font-size: 12px;">Designed by <a href="https://www.example.com" style="color: white; text-decoration: underline;">@vellaipandi</a></p>
  </div>
</footer>
   
</body>
</html>

