<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- Changed the first icon to a different one -->
    <i class="fas fa-wallet fa-6x"></i>

    <!-- Changed the second icon to a different one -->
    <!-- You can also use different icon libraries -->
    <i class="bi bi-person-circle fa-6x"></i>
    

    <h1 class="display-3">Student fees management system</h1>
    <hr>
    <a class="btn btn-info btn-lg" href="/cashierregister" role="button">Register</a>
    <a class="btn btn-info btn-lg" href="/cashierlogin" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
