<%- include('partials/header') %>

<div class="jumbotron text-center" s>
  <div class="container">
    <i class="fas fa-money-check fa-6x"></i>

    <h1 class="display-3">Cashier</h1>
    <hr>
    <a class="btn  btn-info btn-lg" href="/add" role="button">Add Payment</a>
    <a class="btn  btn-info btn-lg" href="/fines" role="button">All payement Details</a>
    <a  class="btn  btn-info btn-lg" style="width: 14%;height:5vh" href="/logout" role="button">Back</a> 
  </div>
</div>

<%- include('partials/footer') %>
