<%- include('partials/header') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">RVS CAS</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title" style="color: rgb(172, 150, 150);">Fine</h2>
              <p class="card-text">Manage fines and payments as a cashier.</p>
              <a href="/cashier" class="btn btn-primary btn-block">Fees Arrear</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title" style="color: rgb(26, 28, 26);">Students</h2>
              <p class="card-text">View fines and manage your account.</p>
              <a href="/user" class="btn btn-success btn-block">Students Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
