<%- include('partials/header') %>
<h1 id="rvsCas" style="text-align: center;  background: linear-gradient(to bottom, #7b7575, #c09595);">RVS CAS</h1>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title" style="color: rgb(172, 150, 150);">Fine</h2>
          <p class="card-text"></p>
          <a href="/cashier" class="btn btn-primary">cashier</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title" style="color: rgb(26, 28, 26);">Students</h2>
          <p class="card-text"></p>
          <a href="/user" class="btn btn-success">Students Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
