<%- include('partials/header') %>

<div class="jumbotron text-center" style="background-color: #3a3a3a; color: #ffffff;">
  <div class="container">
    <i class="fas fa-user fa-6x" style="color: #f8b400;"></i>

    <h1 class="display-3">Welcome User</h1>
    <p>Check payment details, edit profiles, and view fine amounts.</p>
    <hr>
    <a class="btn btn-outline-light btn-lg" href="/fines" role="button">Show Payment Details</a>
    <a class="btn btn-outline-warning btn-lg" href="/" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
